@import 'common.css';

.w-button {
  background: var(--main-bg-color);
  border: 1px solid var(--main-border-color);
  color: var(--main-text-color);
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
}
