<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>TabGrid: a table-based grid</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
        <link rel="stylesheet" href="gridtab.css">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <main>
            <h1>TabGrid, a table-based grid</h1>
            <h2>Any number of columns</h2>

            <p>1col</p>
            <div class="row">
                <div class="col">#1</div>
            </div>

            <p>2cols</p>
            <div class="row">
                <div class="col">#1</div>
                <div class="col">#2</div>
            </div>

            <p>3cols</p>
            <div class="row">
                <div class="col">#1</div>
                <div class="col">#2</div>
                <div class="col">#3</div>
            </div>

            <p>4cols</p>
            <div class="row">
                <div class="col">#1</div>
                <div class="col">#2</div>
                <div class="col">#3</div>
                <div class="col">#4</div>
            </div>

            <p>5cols</p>
            <div class="row">
                <div class="col">#1</div>
                <div class="col">#2</div>
                <div class="col">#3</div>
                <div class="col">#4</div>
                <div class="col">#5</div>
            </div>

            <p>6cols</p>
            <div class="row">
                <div class="col">#1</div>
                <div class="col">#2</div>
                <div class="col">#3</div>
                <div class="col">#4</div>
                <div class="col">#5</div>
                <div class="col">#6</div>
            </div>

            <p>7cols</p>
            <div class="row">
                <div class="col">#1</div>
                <div class="col">#2</div>
                <div class="col">#3</div>
                <div class="col">#4</div>
                <div class="col">#5</div>
                <div class="col">#6</div>
                <div class="col">#7</div>
            </div>

            <p>8cols</p>
            <div class="row">
                <div class="col">#1</div>
                <div class="col">#2</div>
                <div class="col">#3</div>
                <div class="col">#4</div>
                <div class="col">#5</div>
                <div class="col">#6</div>
                <div class="col">#7</div>
                <div class="col">#8</div>
            </div>

            <p>9cols</p>
            <div class="row">
                <div class="col">#1</div>
                <div class="col">#2</div>
                <div class="col">#3</div>
                <div class="col">#4</div>
                <div class="col">#5</div>
                <div class="col">#6</div>
                <div class="col">#7</div>
                <div class="col">#8</div>
                <div class="col">#9</div>
            </div>

            <p>10cols</p>
            <div class="row">
                <div class="col">#1</div>
                <div class="col">#2</div>
                <div class="col">#3</div>
                <div class="col">#4</div>
                <div class="col">#5</div>
                <div class="col">#6</div>
                <div class="col">#7</div>
                <div class="col">#8</div>
                <div class="col">#9</div>
                <div class="col">#10</div>
            </div>

            <p>11cols</p>
            <div class="row">
                <div class="col">#1</div>
                <div class="col">#2</div>
                <div class="col">#3</div>
                <div class="col">#4</div>
                <div class="col">#5</div>
                <div class="col">#6</div>
                <div class="col">#7</div>
                <div class="col">#8</div>
                <div class="col">#9</div>
                <div class="col">#10</div>
                <div class="col">#11</div>
            </div>

            <p>12cols</p>
            <div class="row">
                <div class="col">#1</div>
                <div class="col">#2</div>
                <div class="col">#3</div>
                <div class="col">#4</div>
                <div class="col">#5</div>
                <div class="col">#6</div>
                <div class="col">#7</div>
                <div class="col">#8</div>
                <div class="col">#9</div>
                <div class="col">#10</div>
                <div class="col">#11</div>
                <div class="col">#12</div>
            </div>

            <h2>With gutters</h2>
            <p>1col</p>
            <div class="row guttered">
                <div class="col">#1</div>
            </div>

            <p>2cols</p>
            <div class="row guttered">
                <div class="col">#1</div>
                <div class="col">#2</div>
            </div>

            <p>3cols</p>
            <div class="row guttered">
                <div class="col">#1</div>
                <div class="col">#2</div>
                <div class="col">#3</div>
            </div>

            <p>4cols</p>
            <div class="row guttered">
                <div class="col">#1</div>
                <div class="col">#2</div>
                <div class="col">#3</div>
                <div class="col">#4</div>
            </div>

            <p>5cols</p>
            <div class="row guttered">
                <div class="col">#1</div>
                <div class="col">#2</div>
                <div class="col">#3</div>
                <div class="col">#4</div>
                <div class="col">#5</div>
            </div>

            <p>6cols</p>
            <div class="row guttered">
                <div class="col">#1</div>
                <div class="col">#2</div>
                <div class="col">#3</div>
                <div class="col">#4</div>
                <div class="col">#5</div>
                <div class="col">#6</div>
            </div>

            <p>7cols</p>
            <div class="row guttered">
                <div class="col">#1</div>
                <div class="col">#2</div>
                <div class="col">#3</div>
                <div class="col">#4</div>
                <div class="col">#5</div>
                <div class="col">#6</div>
                <div class="col">#7</div>
            </div>

            <p>8cols</p>
            <div class="row guttered">
                <div class="col">#1</div>
                <div class="col">#2</div>
                <div class="col">#3</div>
                <div class="col">#4</div>
                <div class="col">#5</div>
                <div class="col">#6</div>
                <div class="col">#7</div>
                <div class="col">#8</div>
            </div>

            <p>9cols</p>
            <div class="row guttered">
                <div class="col">#1</div>
                <div class="col">#2</div>
                <div class="col">#3</div>
                <div class="col">#4</div>
                <div class="col">#5</div>
                <div class="col">#6</div>
                <div class="col">#7</div>
                <div class="col">#8</div>
                <div class="col">#9</div>
            </div>

            <p>10cols</p>
            <div class="row guttered">
                <div class="col">#1</div>
                <div class="col">#2</div>
                <div class="col">#3</div>
                <div class="col">#4</div>
                <div class="col">#5</div>
                <div class="col">#6</div>
                <div class="col">#7</div>
                <div class="col">#8</div>
                <div class="col">#9</div>
                <div class="col">#10</div>
            </div>

            <p>11cols</p>
            <div class="row guttered">
                <div class="col">#1</div>
                <div class="col">#2</div>
                <div class="col">#3</div>
                <div class="col">#4</div>
                <div class="col">#5</div>
                <div class="col">#6</div>
                <div class="col">#7</div>
                <div class="col">#8</div>
                <div class="col">#9</div>
                <div class="col">#10</div>
                <div class="col">#11</div>
            </div>

            <p>12cols</p>
            <div class="row guttered">
                <div class="col">#1</div>
                <div class="col">#2</div>
                <div class="col">#3</div>
                <div class="col">#4</div>
                <div class="col">#5</div>
                <div class="col">#6</div>
                <div class="col">#7</div>
                <div class="col">#8</div>
                <div class="col">#9</div>
                <div class="col">#10</div>
                <div class="col">#11</div>
                <div class="col">#12</div>
            </div>

            <h2>Nested</h2>
            <p>2cols, each with 3cols within</p>
            <div class="row guttered">
                <div class="col">
                    <div class="row">
                        <div class="col">#1.1</div>
                        <div class="col">#1.2</div>
                        <div class="col">#1.3</div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">#2.1</div>
                        <div class="col">#2.2</div>
                        <div class="col">#2.3</div>
                    </div>
                </div>
            </div>

            <h2>Push / Pull</h2>
            <p>Cols moves to any other position (Extra div for the sake of simplicity)</p>
            <div class="row guttered">
                <div class="col"><div class="push11">1</div></div>
                <div class="col"><div class="push9">2</div></div>
                <div class="col"><div class="push7">3</div></div>
                <div class="col"><div class="push5">4</div></div>
                <div class="col"><div class="push3">5</div></div>
                <div class="col"><div class="push1">6</div></div>
                <div class="col"><div class="pull1">7</div></div>
                <div class="col"><div class="pull3">8</div></div>
                <div class="col"><div class="pull5">9</div></div>
                <div class="col"><div class="pull7">10</div></div>
                <div class="col"><div class="pull9">11</div></div>
                <div class="col"><div class="pull11">12</div></div>
            </div>

        </main>
    </body>
</html>
