<button (click)="toggle(true)" [class.hide]="visible === true">Mostrar</button>
<button (click)="toggle(false)" [class.hide]="visible === false">Ocultar</button>

<div *ngIf="visible === true">
	<ul *ngFor="let thing of things">
		<li (click)="change(thing)" class="thing" [class.active]="thingSelected.id === thing.id">
			<strong>ID:</strong> {{thing.id}}
		</li>
		<li (click)="change(thing)" class="thing" [class.active]="thingSelected.id === thing.id">
			<strong>Nombre:</strong> {{thing.name}}
		</li>
		<li (click)="change(thing)" class="thing" [class.active]="thingSelected.id === thing.id">
			<input type="text" (keypress)="debug()" [(ngModel)] = "thing.name">
		</li>
	</ul>
</div>

<p>Cosa seleccionada:
	<input type="text" (keypress)="debug()" [(ngModel)]="thing.name">
</p>
