<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CSS Multi-column Layout Module</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <main>
        <h1>CSS Multi-column Layout Module</h1>
        <h2>Any number of columns</h2>
        <article>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quis
                laboriosam, molestias delectus earum nobis vero, ea saepe dolorem
                asperiores unde libero pariatur tenetur sapiente deserunt voluptate
                harum accusantium numquam.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quis
                laboriosam, molestias delectus earum nobis vero, ea saepe dolorem
                asperiores unde libero pariatur tenetur sapiente deserunt voluptate
                harum accusantium numquam.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quis
                laboriosam, molestias delectus earum nobis vero, ea saepe dolorem
                asperiores unde libero pariatur tenetur sapiente deserunt voluptate
                harum accusantium numquam.
            </p>
        </article>
    </main>
</body>

</html>
