<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Off the grid</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <main>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quasi
                cupiditate laborum, incidunt, voluptate pariatur perspiciatis rem
                minus explicabo nostrum vero fugit! Enim totam dignissimos aliquid
                placeat autem voluptate voluptatem.
            </p>

            <div class="full-width">
                <figure>
                  <img src="http://placehold.it/1600x400">
                  <figcaption>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  </figcaption>
                </figure>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea
                    consequatur delectus iste minus praesentium fugit, distinctio
                    temporibus alias in id explicabo animi laboriosam
                    necessitatibus sint laborum, rerum doloribus cumque! Eos.
                </p>
            </div>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic deserunt
              animi ad laboriosam libero placeat assumenda, quisquam dolor facilis
              temporibus eos quod corporis, beatae neque expedita quidem
              consequuntur nulla voluptatem.
            </p>
        </main>
    </body>
</html>
